<nav class="navbar navbar-expand-lg navbar-light" id="navBar-tepe">



    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mx-auto">

            <li class="nav-item text-center">
                <a class="nav-link" routerLink="galeri">
                    <i class="fas fa-camera"></i><br>
                    <strong>Galeri</strong>
                </a>
            </li>

            <li class="nav-item text-center">
                <a class="nav-link" routerLink="ilaclama-yontemleri">
                    <i class="fas fa-spray-can"></i><br>
                    <strong>İlaçlama Teknikleri</strong>
                </a>
            </li>

            <li class="nav-item text-center">
                <a class="nav-link" routerLink="zararlilar">
                    <i class="fas fa-paw"></i><br>
                    <strong>Zararlılar</strong>
                </a>
            </li>

        </ul>
    </div>
</nav>