<div class="container" id="DivDıs">
  <div id="headDiv">
    <h2>Zm Danışmalık - Kalite Politikalarımız</h2>
    <hr>
  </div>
  <div id="carouselExampleFade" class="carousel slide" data-pause="hover" data-interval="5000" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3>Şirketiniz İçin Profesyonel Çözümler</h3>
        <p>Haşere ilaçlama temizlik şirketleri, sektöründe yeni bir anlayışla hizmet vermeye başlamıştır.
          <strong>"ilaçlama
            bizim işimiz... garantili güvenilir hizmet!"</strong>sloganıyla yola çıkan firmamız sizlere en iyi hizmeti
          sunmak
          için çalışmaktadır.</p>
      </div>
      <div class="carousel-item">
        <h5>Müşterilerimize bakışımız...</h5>
        <ul>
          <p>Müşterilerimizi varlığımızın en önemli nedeni sayarız.</p>
          <p>Yeni Müşterileri kazanmamız ya da kaybetmemizde onların büyük rol oynadığını biliriz.</p>
          <p>Müşterilerimizin ihtiyaçlarına karşı her zaman duyarlı olur, doğru tespitlerle onlara gösterdiğimiz özeni
            hissettiririz.</p>
          <p>Ürünümüzü veya hizmetimizi sattıktan sonra da memnuniyetinin devam etmesi için elimizden geleni yaparız.
          </p>
          <p>Sadece ürün ve hizmet sunmanın yetmeyeceğini bilir, Müşterilerimize her zaman büyük bir saygı duyarız.</p>
        </ul>
      </div>
      <div class="carousel-item">
        <h5>En yüksek Müşterileri memnuniyeti...</h5>
        <ul>
          <p>Müşterilerimizin yaşamını kolaylaştırmak ve beklentilerini karşılamak için en üstün ve mükemmel hizmeti
            vermeyi
            amaçlarız.</p>
          <p>Fark yaratmak, büyümek ve kar etmek için müşteri memnuniyetinin şart olduğunu unutmayız.</p>
          <p>Hizmet kalitemizin ve Müşterilerimizin beklentilerini karşılamanın ötesinde, üstün performans göstermeyi
            hedefleriz.</p>
          <p>Tüm Müşterilerimizin, koşulsuz olarak kaliteli hizmet alma hakkına sonuna kadar saygı duyarız.</p>
          <p>İstisnasız tüm Müşterilerimiz karşısında hizmet kalitemizden taviz vermemeyi temel ilke olarak benimseriz.
          </p>
          <p>Müşterilerimizin duygu ve düşüncelerini anlamamız gerektiğinin bilinciyle görevimizi yaparız.</p>
          <p>En yüksek müşteri memnuniyetini sağlamak ve bağlılık oluşturmak; Müşterilerimizin<strong>"HAŞERE İLAÇLAMA
              TEMİZLİK HİZMETLERİ benim için çalışır ve gerçekleştirir, kendimi HAŞERE İLAÇLAMA TEMİZLİK HİZMETLERİ ile
              güvende hissederim" </strong>demesini sağlamak için tüm performansımızla çalışırız.</p>
        </ul>
      </div>
      <div class="carousel-item">
        <h5>Müşterilerimizin görüşleri</h5>
        <ul>
          <p>Müşterilerimizin, kullandıkları ürün ve hizmetle ilgili olarak şikayetlerini iletme hakkı olduğunu bilir ve
            bu
            hakka saygı gösteririz.</p>
          <p>Şikayetleri birer "armağan" olarak algılar ve her şikayetten ders çıkarmaya özen gösteririz.</p>
          <p>Müşterilerimizin problemlerine çözüm getirecek ürünleri, taleplerini beklemeksizin sunmayı hedefleriz.</p>
          <p>Henüz müşteri şikayetine neden olmasa bile, karşılaştığımız sorunların kalıcı çözüm alternatiflerini
            üretmek
            için
            büyük çaba gösteririz.</p>
          <p>Yerine getiremeyeceğimiz sözü vermez, verdiğimiz sözü tutarız.</p>
          <p>Sözlerimizi ve taahhütlerimizi zamanında yerine getirir, gecikmeden doğan problemlerin sorumluluklarını da
            üstleniriz.</p>
          <p>Müşterilerimizin görüşleri ve şikayetleriyle öncelikli olarak ilgileniriz.</p>
          <p>Şikayet konusunu takip eder ve şikayetin giderildiğinden emin oluruz. </p>
          <p>Kendimize ulaşan bir şikayetin çözümünden ilk sorumlu kişi olduğumuzu bilir, problemin çözümü için derhal
            girişimde bulunuruz.</p>
          <p>Hiçbir koşulda başarısızlığa bahane bulmaz, hatayı başkasında değil, önce kendimizde ararız. Hatalardan
            ders
            almamız gerektiğini biliriz.</p>
          <p>Her zaman özür dilemesini biliriz.</p>
        </ul>
      </div>
      <div class="carousel-item">
        <h5>Hizmet ve ürünlerimizi sunarken</h5>
        <ul>
          <p>Müşterilerimize,doğru ürün ve hizmeti, doğru fiyattan, doğru zamanda, doğru satış ve hizmet kanalından
            sunmayı
            amaçlarız.</p>
          <p>Müşterilerimizin ihtiyacını tam olarak tespit eder, kendisi için en doğru kararı verebilmesine yardımcı
            olacak
            doğru ve eksiksiz bilgiyi veririz. </p>
          <p>Müşterilerimizin ayrıca sormasını beklemeden, gerekli detayları içeren tüm bilgileri, eksiksiz ve doğru
            olarak
            anlatmamız gerektiğini biliriz.</p>
          <p>İhtiyaçları tam olarak karşılayacak ve uzun süre memnuniyeti sağlayacak ürün ve hizmetlere her zaman
            öncelik
            veririz.</p>
          <p>Müşterilerimize ihtiyacından daha fazla sayıda ürün ve hizmet satmayız.</p>
        </ul>
      </div>
      <div class="carousel-item">
        <h5>Kurumsal değerlerimiz</h5>
        <ul>
          <p>Müşterilerimizin gözünde saygınlık kazanmayı ve bu saygıyı her zaman korumayı temel amaçlarımızdan biri
            olarak
            benimseriz.</p>
          <p>Rakip firmalar hakkında asla olumsuz yorum yapmayız.</p>
          <p>Hiçbir zaman kurum, görev, unvan ya da iş tanımımızı bahane ederek Müşteri memnuniyeti ilkelerine aykırı
            davranmayız.</p>
          <p>Durum ve koşul ne olursa olsun müşteri memnuniyetinin sağlanması için birbirimize destek veririz.</p>
        </ul>
      </div>
      <div class="carousel-item">
        <h5>Doğru ve zamanında bilgilendirme</h5>
        <ul>
          <p>Müşterilerimizin zaaflarından yararlanmaz, kar amacı güderek Müşterilerimize eksik ya da yanlış bilgi
            vermeyiz.
          </p>
          <p>Kalite ve hizmet anlayışımızı Müşterilerimizle paylaşmaya özen gösteririz.</p>
        </ul>
      </div>
      <div class="carousel-item">
        <h5>Özenli yaklaşım</h5>
        <ul>
          <p>Müşterilerimize adlarını kullanarak hitap ederiz. </p>
          <p>Görevimiz ne olursa olsun, her zaman Müşteri odaklı çalışırız.</p>
          <p>Her zaman güleryüzlü, saygılı ve nazik davranmaya büyük önem veririz.</p>
          <p>Müşterilerimize özel ve önemli olduklarını hissettirmeyi hedefleriz.</p>
          <p>Müşterilerimizle ilgilenemediğimiz durumlarda bile, ne zaman ilgilenebileceğimiz hakkında bilgi veririz.
          </p>
          <p>İyi bir dinleyici olup, empati kurmasını biliriz. Müşterilerimizle konuşurken sözünü kesmez, tüm
            dikkatimizi
            onlara vererek ihtiyaçlarını tam olarak anlamaya çalışırız.</p>
          <p>Çalan bir telefonu açtığımızda, iletilecek konunun sorumluluğunu üstlendiğimizi kabul ederiz.</p>
          <p>Müşterilerimizin ihtiyaçlarını zamanında ve doğru bir şekilde karşılar; sunduğumuz hizmetin aksamaması için
            gerekli planlamayı yapar, öncelikleri belirleriz.</p>
          <p>Sunulan ürün ve hizmetler konusunda bilgi sahibi olup, kendimizi sürekli geliştirmek ve yetkinliğimizi
            artırmak
            için çalışırız.</p>
          <p>Tüm işlemleri tamamladıktan sonra, Müşterilerimizin başka bir talebi olup olmadığını mutlaka sorarız.</p>
          <p>Teşekkür etmeyi asla unutmayız.</p>
          <p>Bugün ve yarın ilkelerimizden ödün vermeyeceğimize söz veriyoruz!</p>

        </ul>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>