<div class="row h-100 align-items-center" id="hakkimizdaDiv">
  
    <div class="col-4 h-50">
        <img class="h-100 w-100" src="../../assets/Hakkımızda/hakkimizda.png">
      </div>
    <div class="col-7 h-50" style="color:#2C4D26; font-weight:bold">
        <p>
          Haşere Kontrol ve Danışmanlık hizmetleri Sektöründe 2002'den beri faaliyet gösteren firmamız müşterilerine en iyi ve
          güvenli hizmeti sağlamak amacı ile hareket etmektedir.
        </p>
        <p>
          Güleryüzlü ve güvenilir elemanlarımızla İstanbul'un her ilçesine hizmet vermekteyiz.
        </p>
      </div>

</div>