<div class="row h-100 align-items-center">
  
    <div class="col-4 h-50">
        <img class="h-100 w-100" src="../../assets/hakkimizda.png">
      </div>
    <div class="col-7 text-white h-50">
        <p>
          Haşere Kontrol ve Danışmanlık hizmetleri Sektöründe 2002'den beri faaliyet gösteren firmamız müşterilerine en iyi ve
          güvenli hizmeti sağlamak amacı ile hareket etmektedir.
        </p>
        <p>
          Güleryüzlü ve güvenilir elemanlarımızla İstanbul'un her ilçesine hizmet vermekteyiz.
        </p>
      </div>

</div>