#head-1{
    background-color: #2C4D26;
    height: 40px;
}
#navBar-tepe{
    background-color: #E6E6E6;
}
.page-footer{
    background-color: #2D3246;
}
#routerDiv-1{
    height:475px;
    background-color:grey;
}