<div class="container">
  <div style="text-align:right; margin-top: 5px;">
    <h3>ZARARLILAR</h3>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#hamamBocegi">
          Hamam Böceği</button>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#fare">Fare</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#gumusBocegi">Gümüşcül
          Böceği</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#kirkayak">Kırkayak</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#karinca">Karınca</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#cekirge">Çekirge</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#tahtaKurusu">Tahta
          Kurusu</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#kulagaKacan">Kulağa
          Kaçan</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#guve">Güve</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#orumcek">Örümcek</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#akrep">Akrep</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#salyangoz">Salyangoz</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#haliBocegi">Halı
          Böceği</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#tartarcik">Tartarcık</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#ari">Arı</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#ciyan">Çıyan</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal"
          data-target="#yilan">Yılan</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#kene">Kene</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#sivriSinek">Sivri
          Sinek</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#pire">Pire</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#uyuzBocegi">Uyuz
          Böceği</button>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card" style="background-color:transparent; border: none">
        <button type="button" class="btn btn-secondary card-title" data-toggle="modal" data-target="#bit">Bit</button>
      </div>
    </div>
  </div>
</div>

<!-- Modals -->

<!-- Hamam Böceği -->
<div class="modal fade bd-example-modal-lg" id="hamamBocegi" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hamam Böceği</h5>
      </div>
      <div class="modal-body">
        <p>
          Hamam böcekleri fiziksel yapıları bakımından çeşitlilik gösteren haşerelerdir. Hamam böceği açık yada kuyu
          kahverengi veya kızıl renklerde olabilir. Ancak çoğunluğu siyah renktedir hamam böceklerinin. Hamam böceği
          sıcak alanları sever. Ortam sıcaklığı iyi olduğunda bu alanlara yerleşip kısa sürede ürerler. Hamam böceği
          oldukça hızlı hareket eden bir haşere türüdür. Genellikle hamam böcekleri geceleri ortaya çıkarlar. Işıklar
          söndüğünde ortaya çıkarlar. Hamam böceğinin büyüklüğü 0.5 ya da 3 cm dir. Hamam böceği yumurtlayarak çoğalır.
        </p>
        <p>
          Yumurtalarını paket halinde sırtlarında taşıyan böceklerdir. Her bir paketten yaklaşık 30-50 adet hamam böceği
          çıkar. Hamam böceği 1 yılda 8-10 kez yumurtlar.
        </p>
        <p>Hamam böceği biyolojik olarak eklembacaklılar sınıfında yer alan ve oldukça itici bir canlıdır. Ve ne
          yazıktır ki diğer haşereler gibi oldukça tehlikeli canlılardır. Öncelikle sıcak havaları seviyor olmaları
          nedeniyle her mevsim evlerde görülebilmesi mümkündür. Zaten isminden de anlaşılacağı üzere nemli ortamlar
          yaşam koşulları açısından ideal yerlerdir. Yumurta ile ve çok hızlı üreyen bu haşereden kurtulmanın tek yolu
          ise kesinlikle ilaçlama yapmaktır. Ancak genelde geceleri dolaşan, gündüzleri ise insanların ulaşımının güç
          olduğu kuytu köşelerde bulunan hamam böceklerinin bölgeden arındırılması için kesinlikle bir hamam böceği
          ilaçlama firması desteği almak gerekmektedir.
        </p>
        <p>
          Neden bu haşereden arınmak bu kadar önemlidir? Ne gibi hastalık yayabilir ki? İnsanlar hamam böceklerinin
          kemirmeyen veya ısırmayan özellikleri nedeniyle zararlarını tam iyi kavrayamamaktadırlar. Bu haşereler genel
          olarak pis diye nitelendirilebilecek alanlarda gezinirler. Evde ise daima kullandığımız gıda maddelerinden
          beslenmektedirler. Bu durumda bir hamamböceği mikropla donanmış bünyesini tükettiğimiz gıdalara bulaştırır ve
          biz de o gıdayı tüketecek olursan ne tür sonuçlar çıkar açıklama bile gerek yoktur. Birde bu böceklerin gıda
          maddelerine salya, dışkı veya yumurta bıraktığını da düşününce.
        </p>
        <p>
          Hamam böceği ilaçlama şirketleri genel olarak bu konuda eğitimli kişilerden oluşmaktadır. Hamam böceklerinin
          üzerinde bulunan kanatlar uçmasına olanak vermese de ilaçlara karşı korunma sağlamaktadır. Bu nedenle de
          bireysel yöntemlerle ilaçlama yapmak kesinlikle çözüm olmayacaktır. Bu konuda uzman ekiplerden kurulan bir
          hamam böceği ilaçlama servisi desteği alınmadığı sürece bu haşereden tamamen arınmak çok mümkün olmayacaktır.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Fare -->
<div class="modal fade bd-example-modal-lg" id="fare" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Fare</h5>
      </div>
      <div class="modal-body">
        <p>
          Fare ilaçlaması sıvı kokulu ya da sıvı kokusuz olarak yapılabilir. Bu mekândaki fare yoğunluğu ile
          ilişkilidir. Sıvı ilaçlamalarda alana su bazlı -gazlı ilaçlama yapılır. Kullanılan sıvı ilaç hem fare ilacının
          sulandırılmış şeklidir hem de mekânın dezenfektasyonu için önemlidir. Sorunun kesin çözümü için mekânın gizli
          noktalarına da ziraat mühendislerimiz tarafından hazırlanmış fare tableti karışımı bırakılır.
        </p>
        <p>
          Bu sıvı ilacı ve özel olarak hazırlanmış fare tabletlerini yiyen kemirgen 5 ila 10 dk. arasında kan
          zehirlenmesiyle ölür. İlaçlar belirlenmiş alanlara bırakıldığı için kemirgenlerin gizli ulaşılamayacak
          alanlarda ölmesi de engellenmiş olur.
        </p>
      </div>
    </div>
  </div>
</div>


<!-- Gümüş Böceği -->
<div class="modal fade bd-example-modal-lg" id="gumusBocegi" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Gümüşcül Böceği</h5>
      </div>
      <div class="modal-body">
        <p>
          Gümüşçül böceği haşeresi oldukça küçük bir böcek türüdür. Gümüşçül böceği haşeresi üçgen biçimlidir ve ince
          uzun bir vücuda sahiptir. Gümüşçül böceğinin büyüklüğü 1,5 ya da 2,5 cm büyüklüğündedir. Gri renkte olana
          gümüşçül böceği gümüş renginde olduğu için bu ismi almıştır. Gümüşçül böceği haşeresi balık görünümündedir.
        </p>
        <p>
          Çok hızlı hareket eden böceklerdir. Gümüşçül böceği haşeresine en çok evlerde rastlanır. Başlangıçta tek tük
          gördüğümüz bu böcekler zamanla giderek çoğalırlar ve yaşadığımız mekanın her yerini sararlar. Gümüşçül böceği
          haşeresi sıcak alanlarda görülen bir böcektir bu nedenle fırın gibi sıcak alanlarda da gümüşçül böceklerine
          rastlanabilir.
        </p>
        <p>
          Gümüşçül böceği en fazla yaz aylarında görülür. Kış aylarında evlerimiz sıcak olduğu için yaz aylarında
          görülen gümüşçül böceği kış aylarındada yaşadığımız mekanlarda görülürler. Bu nedenle kışın geçer diye
          geçiştirmemeliyiz. Gümüşçül böceği haşeresi gıda ihtiyacını kağıt, kumaş gibi şeylerle karşılar. Ayrıca
          hububat içlerine girip yerleşebilen böceklerdir. Gümüşçül haşeresi evlerde en çok banyo ve özellikle mutfak
          kısımlarında görülürler.
        </p>
        <p>
          Gümüşçün böceği genel olarak sıcak ortamları seviyor olmaları nedeniyle evlerde fazlaca görülürler ve birçok
          haşere türü gibi bunlar da eşyalara zarar vermesi ile birlikte mikrop dağıtan canlılardır. Renkleri nedeniyle
          bu ismi almış olan bu zararlı 1-3 cm uzunluğunda iki antenli ve parlak renklidir. Bir defasında 110 civarı
          yumurtlama yapan gümüşçün böceği bu özelliği ile de oldukça hızlı bir şekilde üreyen haşerelerdendir. Sadece
          bu neden bile evlerde sıklıkla gümüşçün böceği ilaçlama servisi yardımı ile güçlü bir ilaçlama yapılması
          gerektiğini gösteriyor.
        </p>
        <p>
          Bu tür haşereler genellikle sağlık sorunları yayma özellikleri nedeniyle korunması gereken canlılardır.
          Özellikle mutfaklarda bulunan ve tüketilmesi ya da teması mümkün olan malzemelere temasları neticesinde mikrop
          bulaştırırlar.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- KırkAyak -->
<div class="modal fade bd-example-modal-lg" id="kirkayak" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kırkayak</h5>
      </div>
      <div class="modal-body">
        <p>
          Kırkayak haşeresi kahverengi ya da siyah renktedir. 5 cm büyüklüğünde olan kırkayak haşeresinin silindirik bir
          yapısı vardır. Kırkayakların baş kısımlarında bir çift anten bulunur. Kırkayakların vücutlarının her
          segmentinde bir çift ayak yer alır. Kırkayak böceğinin iki çift ayağı vardır buna karşın çıyan haşeresinin ise
          bir çift ayağı vardır. Kırkayak haşeresi genellikle dış alanlarda yaşar. İç kısımlarda ise çatı, bodrum,
          kömürlük, banyolar, havalandırma boşlukları gibi alanlarda yaşarlar. Ölü organik gıdalarla beslenen böcek
          türleridir. Kırkayak haşeresi genellikle bahçeli alanlarda görülürler.
        </p>
        <p>
          Bu haşere türü açık alanlardaki bitki köklerine zarar verir. İç alanlara giren kırkayak haşeresi buralarda
          parke altı, pervaz araları ya da banyo bölgelerine yerleşerek üreme yapar.
        </p>
        <p>
          Kırkayak haşeresi ısırma özelliğine sahiptir. Isırdığı yer şişer ve kızarır. Kırkayaklar çok çabuk çoğalırlar.
          Rutubeti seven kırkayaklar önlem alınmaması durumunda kısa sürede onlarca sayıya ulaşabilirler.
        </p>
        <p>
          Omurgasız yumuşakçalar sınıfında yer alan kırkayak canlısı genel olarak evlerin çatı ya da bodrumlarında
          görülseler de besin maddelerinin fazlaca olduğu her noktada görülmeleri olağandır. Çok sayıda ayaklarının
          bulunması nedeniyle bu isimle anılırlar ve oldukça hızlı hareket yetileri bulunmaktadır. Genelde besin
          maddelerinin yakınlarında yumurtlarlar ve yumurtadan çıkan kırkayak yavrusu derhal besinlere ulaşır. Bu sayede
          de 4 ay içerisinde yetişkin olan bu zararlıdan korunmak için kırkayak ilaçlaması kesinlikle zorunludur.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Karınce -->
<div class="modal fade bd-example-modal-lg" id="karinca" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Karınca</h5>
      </div>
      <div class="modal-body">
        <p>
          Karınca haşeresi 3-4 mm büyüklüğündedir. Karıncalar koloniler halinde yaşayan haşerelerdir. Karınca
          haşeresinin çeşitli renkleri mevcuttur. Genellikle karıncalar siyah, kahverengi ya da kızılımsı renktedirler.
          Karıncaların kanatlı olanları da vardır. Kanatlı olan karınca türünün büyüklüğü genellikle5 ya da 8 mm dir.
          Kanatlı karınca haşeresi kahverengi renktedir. Kanatlı karınca haşeresinin iki kanadı vardır. Karıncalar gıda
          ihtiyaçlarını karşılayabildikleri alanlara yuvalarını kurarlar.
        </p>
        <p>
          Yaşadığımız mekanlarda görülen karıncalar işçi karıncaların gıda aramalarından kaynaklanır. Koloniler halinde
          yaşayan karıncalar yuvalarını toprağın iç kısımlarına, süpürgeliklere ya da saksı içlerine yaparlar. Karınca
          haşeresi 15 ya da 20 yıl yaşamaktadır. Karınca haşeresi yaşadığımız mekanlarda sadece yaz aylarında
          görülmezler . Yaşadığımız alanlar sıcak olduğu için kış aylarında da faal olarak görülürler. Karınca haşeresi
          kısa süre zarfında yaşadığımız mekanın her alanına yayılma özelliğine sahiptir.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Çekirge -->
<div class="modal fade bd-example-modal-lg" id="cekirge" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Çekirge</h5>
      </div>
      <div class="modal-body">
        <p>
          Çekirgelerin büyüklükleri 2,5-3,5 cm arasında farklılık gösterir. Siyah ya da kahverengi olan çekirge haşeresi
          sıçramasını sağlayan uzun arka ayaklara sahiptir. Köşeli gövdeye sahip olan çekirge haşeresinin ince antenleri
          vardır. Çekirgeler dış alanda yaşarlar. Yuvalarını genelde dış mekanlara yapan çekirge haşeresi bazen gıda
          ihtiyacını karşılamak amacıyla iç alanlara girerler. Çekirge haşeresi genelde sıcak alanları sever bu nedenle
          soğuktan ya da nemden korunmak amacıyla yaşadığımız mekanlara yönelirler.
        </p>
        <p>
          Çekirge haşeresi sıçrama özelliği nedeniyle kolaylıkla yaşadığımız alanlara girebilirler. Çekirgeler iç
          alanlarda evlerimize, bodrumlara, kömürlüklere, iç alanlardaki loş bölgelere yerleşirler.
        </p>
        <p>
          Evlerimize giren çekirgeler giysilerimize maddi olarak zarar verir. Unutulmamalıdır ki çekirge haşeresinden
          sadece profesyonel ilaçlama desteği alarak kurtulabiliriz.
        </p>
        <p>
          Çekirgeler dönem dönem ekinlerimize ciddi zararlar vermektedirler ki bazen de sürüler halinde saldırdıkları
          görülürler ve ciddi zararlara yol açarlar. Bu nedenledir ki çekirge ilaçlama işleminde öncelikle ilaçlama
          firmaları desteği almak gerekir. Bunun yegane nedeni yanlış bir uygulama sonucunda gıdalar üzerinde
          oluşturduğu etki nedeniyle diğer canlılara da zarar verebilme ihtimalidir. Bu zararları en aza indirebilmek
          için ise muhakkak çekirge ilaçlama işlemi için profesyonel destek almak gerekmektedir.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Tahta Kurusu -->
<div class="modal fade bd-example-modal-lg" id="tahtaKurusu" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tahta Kurusu</h5>
      </div>
      <div class="modal-body">
        <p>Tahtakurusu böceği oldukça küçük bir haşeredir. Tahtakurusu böceğinin büyüklüğü 2-5 mm dir. Kan ile beslenen
          tahtakurusu böceği kızılımsı renktedir. Tahtakurusu böceği küçüktür ama kan emerek şişer. Tahtakurusunu
          ezdiğimizde çok pis bir koku yayılır. Tahtakurusu böceği yumurtlayarak çoğalır. Çok çabuk üreyen böceklerdir.
        </p>
        <p>
          Tahtakurusu haşeresini görmek çok zordur. Çünkü bu böcekler koltuk içleri, yatak içleri, çekyat içlerine
          yerleşip bu alanlarda çoğalırlar. Tahtakurusu haşeresi başlangıçta belirli bir alanda görülebilir ancak kısa
          sürede yaşadığımız diğer alanlara yayılırlar.
        </p>
        <p>Bu nedenle tahta kurusu haşeresini bireysel mücadele ile çözemeyiz. Mutlaka profesyonel ilaçlama desteği
          almalıyız.</p>
        <p>Hava sıcaklıklarının yükselmesi ile birlikte haşerelerle olan mücadelelerde başladı. Çünkü genel olarak bu
          tür böcekler sıcak havalarda ve özellikle de nemli ortamlarda ortaya çıkmaktadır. Özellikle de bu mevsimde en
          çok görülen böceklerden birisi de tahtakurularıdır. Genel olarak pis ortamlarda yaşayarak başka canlılara
          taşıyarak sağlık sorunlarına neden olabilen canlılardır bunlar. Bu tür haşerelerden kurtulmak için ise
          kesinlikle tahtakurusu ilaçlama şirketleri yardımı almak gerekmektedir.</p>
        <p>Tahtakuruları genel olarak aşırı derece de hızlı üreyen canlılardır ve bu nedenle de önlenmesi zor
          zararlılardandır. Yolu kesilmediğinde bir süre işin içinden çıkılamaz haller alabilecektir. Sağlık sorunlarını
          sadece gıda teması ile değil de ısırarak veya kan emerek de bulaştıran zararlılar vardır. Tahtakuruları da kan
          ile beslenirler. Özellikle insanların deriye yakın damarların bulunduğu noktalardan ısırırlar. Bu durumda
          nasıl bir tehlike var ortada sanırım anlatmaya gerek yok. Böylesine riskli bir durumdan tahtakurusu ilaçlama
          firması yardımı olmadan kurtulmak ise çok olası bir durum değildir.</p>
      </div>
    </div>
  </div>
</div>

<!-- KulağaKaçan Böceği -->
<div class="modal fade bd-example-modal-lg" id="kulagaKacan" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kulağa Kaçan Böceği</h5>
      </div>
      <div class="modal-body">
        <p>
          Kulağakaçan haşeresi kapalı alanlarda özellikle evlerde daha çok görülür. Bu böcek evlerde parke altlarına,
          pervazlara, loş alanlara saklanırlar. Kulağakaçan haşeresi geceleri faal olur ve ortaya çıkar. Bu haşere gıda
          ihtiyacını ölü böceklerle, bitki atıkları ile sağlarlar. Kulağa kaçanlar eklem bacaklıdırlar ve kanatlıdırlar.
        </p>
        <p>Hem otçul hem de etçil bir böcek türüdür. Kulağa kaçan böceği çok hızlı hareket eder. Bu böcekler insanlar
          uyurken burun, göz ve kulaklarına girebilirler.</p>
        <p>
          Bu nedenle kulağakaçan böceği oldukça tehlikelidir. Yetişkinler olduğu kadar çocuklar üzerinde de tehlike arz
          eden bir böcek türüdür.
        </p>
        <p>Kulağa kaçan böceği bazı bölgelerde kıskaç böceği olarak da adlandırılır. Genel olarak 6 ayağı olan, baş,
          gövde ve arkasında bir kıskaçtan oluşan bedeni vardır ve baş kısmında iki adet anten bulunur. Bu antenler
          sayesinde yön bulurlar ve tehlikeleri algılarlar. Tek kurtuluş ise kulağa kaçan ilaçlama yapmaktır. Geceleri
          beslenen bu canlı genellikle meyve artıklarını ve diğer haşere ölülerini kıskaçları ile parçalayarak
          beslenirler. Kulağa kaçan ilaçlama firması desteği olmadan bu zararlıdan kurtulmak ise imkansızdır.</p>
      </div>
    </div>
  </div>
</div>
<!-- Güve -->
<div class="modal fade bd-example-modal-lg" id="guve" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Güve</h5>
      </div>
      <div class="modal-body">
        <p>
          Güve haşeresi (böceği) küçük ve oval yapılı bir böcektir. Güve böceği gri veya siyah renkte olabilir. Güve
          uçan bir böcek türüdür. Güve böceği yumurtalardan kurtçuk şeklinde çıkar. Zamanla olgunlaşır ve güve böceği
          kelebek şeklini alır. Güve böceğinin büyüklüğü 3 mm dir. Kelebek olan güveler yumurta bırakır. Güve böceği
          yumurtalarını kapalı alanlarda eşyaların y da elbiselerin iç kısımlarına bırakır. Açık alanlarda ise
          bitkilerin kök kısımlarına yakın alanlara güveler yumurtalarını bırakırlar. Güve haşeresi bireylere veya
          hayvanlara zarar vermez ancak yaşadığımız alanlarda ki özellikle pamuklu eşyalara ve giysilere oldukça fazla
          zarar verirler.
        </p>
        <p>
          Güve haşeresi giysilerimizde delikler oluşturarak zarar verirler. Güve haşeresi gıda ihtiyacını bu şekilde
          karşılar. Güve böceği sıcak, nemli ve loş alanları sever. Bu alanlara yerleşerek yumurtlar ve kısa sürede
          çoğalır. Güve haşeresi genellikle geceleri faaldirler
        </p>
        <p>
          Güve böceğinin çeşitli türleri mevcuttur. Güve haşeresi kendi içerisinde tahıl güvesi, halı güvesi, elbise
          güvesi olarak çeşitlenir.
        </p>
        <p>
          Evlerde haşerelerden söz edildiğin en başta akla gelenlerdendir güve böceği. Ev eşyalarına verdikleri zarar
          yanında özellikle tahıllara verdikleri zararla da bilinirler. Tüylü ve bullu kanat yapıları ile genel olarak
          kelebeğe benzerler. Her ne kadar kelebeğe benzeseler de bu canlıdan ayrışan özellikleri vardır. Mat
          renklidirler ve kanatlarını bulundukları ortamlarda kendilerini kamufle etmek maksadı ile de kullanırlar.
          Evlerle birlikte kumaş fabrikaları, ipek imalathaneleri, tahıl fabrikalarında da çokça görülürler. Tahılların
          içlerini boşaltarak verimliliği azaltırlar. Güve böceğinin bazı türleri de evlerde kumaş, iplik gibi tekstil
          ürünlerine zarar verirler. Böyle bir zararlı canlının mekandan uzaklaştırılmadığında oluşturabileceği tahrifat
          oldukça büyük olacaktır.
        </p>
        <p>
          Güve böceği yumurtlamasının ardından ortam sıcaklığı ile orantılı olarak bir haftada dahi larvaya
          dönüşebilirler. Tek çiftleşme ile 4-6 kez döl verebilen güve böceği bu özelliği ile de çok hızlı bir üreme
          göstertirler. Bu sebeple de kesinlikle ilaçlanması gereken zararlılar sınıfındandır. Tabi ki diğer haşerelerde
          olduğu gibi iyi bir güve ilaçlama firması desteği almadan ilaçlamaya yeltenmek kesinlikle daha ciddi zararlar
          meydana getirecektir. Her ne kadar güve böceği insanları ısırmıyor olsa da evlerde gıda ve diğer birçok
          malzemeye zarar vermektedirler.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Örümcek -->
<div class="modal fade bd-example-modal-lg" id="orumcek" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Örümcek</h5>
      </div>
      <div class="modal-body">
        <p>
          Örümcek eklem bacaklı bir haşeredir. Örümcek haşeresi her yerde yaşayabilir. Örümceklerin göğüs kısımlarıyla
          baş kısımları birbiri ile kaynaşmıştır. Örümceklerin bel kısımları çok incedir. Boyları 2-35 cm arasında
          değişen örümcekler çeşitlilik gösterir. Örümcek haşeresinin ağız kısmında iki adet zehirli diş bulunur. Gövde
          kısımlarında 4 çift yürüme bacakları yer alır. Örümcekler bu bacakları yardımıyla kolaylıkla hareket edip
          ağlarının üzerinde dolaşırlar.
        </p>
        <p>
          Örümcekler yana, ileriye ve geriye rahatlıkla hareket ederler. Örümcek haşeresinin 3 ya da 4 çift gözleri
          vardır. Örümcek böceğinin karın kısmı oldukça yumuşaktır ve alt kısımlarında solunum delikleri yer alır.
        </p>
        <p>
          Örümcek haşeresi yiyecek ihtiyacını böceklerle karşılar. Örümceklerin çeşitleri oldukça çoktur. Örümcekler
          insanları ısırırlar. Zehirlenmelere sebebiyet verirler. Örümcek böceği karanlık ve loş alanlarda yaşamayı
          severler. Yaşadığımız alanlarda bu alanlara yerleşip üreme yaparlar. Örümceğin ısırdığı alan hemen şişer ve
          kızarır. Çok kötü bir ağrı oluşur. Aşırı nabız atışı ve terleme olur. Örümcek ısırmalarında acilen doktora
          başvurulmalı ve alan hemen ilaçlatılmalıdır.
        </p>
        <p>
          Örümcekler sıklıkla karşılaşılan haşere türlerindendir ki bazılarının zehirli olduğu dahi bilinir. Uçan
          haşerelerin daha fazla gezdiği bölgelerde görülen örümcekler bu bölgelere ağlarını gererek diğer haşerelerin
          ağlarına yakalanmasını beklerler. Bu sebeple de sıklıkla örümcek ilaçlama yapmak gerekmektedir. Örümceklerin
          bazı türleri vardır ki bu türler insanlar üzerinde tehlikeli sonuçlar doğurabilirler. Bu ve benzeri
          olumsuzluklardan zarar görmemek için halk arasında ifade edilen ilaçlama yöntemlerine veya korunma
          yöntemlerine başvurmamak en hatalı davranışlardan olacaktır. Bu konuda sizlere en doğru ilaçlama yöntemini
          verecek olan ise doğru seçilmiş örümcek ilaçlama firmaları çalışanlarıdır. Örümcek ilaçlaması konusunda eğitim
          almış olan uzman ekipler her türlü haşere konusunda bilgiye sahip olurlar ve sizlere en köklü çözümleri
          sunarlar.
        </p>

      </div>
    </div>
  </div>
</div>
<!-- Akrep -->
<div class="modal fade bd-example-modal-lg" id="akrep" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Akrep</h5>
      </div>
      <div class="modal-body">
        <p>
          Akrep haşeresi oldukça zehirli bir böcek türüdür. Zehrini en çabuk yayan haşerelerden birisi de akreptir.
          Akrep haşeresi fiziksel özelliklerine ve yaşadıkları fiziksel alanlara göre farklılık gösterirler. Akrepler
          2,5-5 cm büyüklüğündedirler. Akrep haşeresinin renkleri genellikle sarı, siyah, kızılımsı ya da kahverengidir.
          Akrep haşeresi gıda gereksinimini böceklerden karşılar. Akrepler sıcak, loş ve nemli alanları severler ve bu
          alanlara yerleşip çoğalırlar, yayılırlar. Mekanımız da gördüğümüz bir akrep haşeresi mutlaka diğerlerinin
          varlığının da habercisidir. Çünkü akrep haşeresi eşli gezer. Akrepler yumurtlayarak ürerler.
        </p>
        <p>
          Yumurtalarını loş ve karanlık alanlara bırakırlar. Yumurtadan çıkan akrep yavrusu başlangıçta pembemsi ya da
          şeffaf renktedir. Daha sonra ise olgunlaştıkça renkleri koyulaşır akreplerin. Akrep haşeresi dış alanlarda
          yaşarlar ancak yağmurlarla birlikte ya da havanın soğuması nedeniyle yaşadığımız iç mekanlara girerler.
        </p>
        <p>
          Akrep haşeresi zehirli bir haşere türüdür. Akrep sokmalarında zaman kaybedilmeden doktora gidilmelidir çünkü
          akrep haşeresinin zehiri çok çabuk vücuda yayılı. Aynı zamanda akrep için görülen açık ya da kapalı alana
          profesyonel ilaçlama desteği alınmalıdır.
        </p>
        <p>
          Birçok haşereler vardır ki insanın sağlığını diğerlerinden daha fazla tehdit ederler. Bunlardan birisi son
          zamanlarda sıklıkla kara haberler duymamıza neden olan kenelerdir. Bunların yanında bir de akrepler vardır ki
          tamamen zehir enjekte ederek zararlar vermektedir. Hatta zehir oranı oldukça yüksek olan çeşitler vardır. Bu
          türler bir tehdit olmadan başka canlıyı sokmasalar da farkında olunmadan da tehdit olabilmek mümkündür.
          Evlerde dahi görülebilen akreplerle mücadelenin tek yolu vardır ki bu da ilaçlama yapmaktır. Ama her haşerede
          olduğu gibi burada da akrep ilaçlama şirketleri desteği almak mecburidir.
        </p>
        <p>
          Bizler ne yazık ki ilaçlama işlemlerinde akrep ilaçlama firmalarından destek almak yerine gidiyoruz kendi
          yöntemlerimiz ile mücadeleye yelteniyoruz. Bu aslında ne kadar sakıncalı bir durum farkında bile değiliz.
          Akreplerden kurtulacağız derken hem paramızdan oluyoruz hem de bir çözüm de üretemiyoruz. Öyleyse yapılması
          gereken iyi bir araştırmayla akrep ilaçlama servislerinden en doğru olanı seçilebilecektir.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Salyangoz -->
<div class="modal fade bd-example-modal-lg" id="salyangoz" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Salyangoz</h5>
      </div>
      <div class="modal-body">
        <p>
          Salyangoz böceği nemli alanlarda yaşayan bir haşere türüdür. Çeşitlilik gösterirler. Salyangoz böceğinin
          çeşitli türleri vardır. Kabuklu bir yapısı olan salyangoz haşeresi gıda ihtiyacını bitkilerle sağlar.
          Salyangoz böceği gezindiği her alana kendi sıvısını bırakır. Salyangoz haşeresi nemli alanlarda yaşamayı
          sever. Vücutları su ile dolu olan salyangozlar çok çabuk çoğalırlar. Vücutları sıvı ile dolu olduğu için soğuk
          alanlarda yaşayamazlar, donarlar.
        </p>
        <p>
          Kırkayaklar, kurbağalar, kertenkeleler gıda ihtiyaçlarını karşılamak için salyangozları yerler. Hem otçul hem
          de etçil salyangoz türleri vardır. Salyangozlar yumurta ile çoğalırlar.
        </p>
        <p>
          Özellikle bahçe alanlarındaki çiçeklere ve bitkilere zarar vererek kurumalarına neden olurlar. Bahar ve
          özellikle de yaz dönemleri salyangoz haşeresinin üreme dönemidir. Bir salyangoz yumurtasından yaklaşık 200
          adet yavru salyangoz çıkar. Görüldüğü gibi çok çabuk ürerler.
        </p>
        <p>
          Salyangoz yapı itibariyle diğer zararlı böceklere göre farklılıklar gösterir. Vücudunun üzerinde bulunan
          kabuğu ile oldukça değişik bir görünümü vardır. Bu kabuğu tehlikelere karşı bir savunma aracı olarak
          kullanmaktadır. Hareket yetisini ise bünyesi ile kabuğu arasında salgıladığı bir sıvı aracılığı ile kazanır.
          Bu nedenle de dolaştığı alanlarda parlak bir iz bırakmaktadır. Farklı yapısı nedeniyle de salyangoz ilaçlama
          da farklı yöntemlerle yapılmaktadır. Sıvıya karşı yoğun ihtiyaçları nedeniyle salyangozlar genelde yağmur
          sonraları görülürler. Bu sebeple de bol yağış alan bölgelerde daha fazla görülürler. Genelde otçul bir canlı
          olsalar da etçil olanlarının varlığı da bilinmektedir. Bu nedenle özellikle tarımsal alanlarda salyangoz
          ilaçlama zorunlu bir gereklilik olarak ortaya çıkmaktadır. Yeşilliklere zararını engellemek ancak bu şekilde
          mümkün olabilecektir.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Halı  Böceği -->
<div class="modal fade bd-example-modal-lg" id="haliBocegi" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Halı Böceği</h5>
      </div>
      <div class="modal-body">
        <p>
          Halı böceği deri koltuk, kumaş, kürk gibi eşyaların içlerine yumurtlayarak çoğalır. Halı böceği böceği çok
          uzun süre aç ve susuz olarak yaşayabilir. Halı böceği bireysel mücadele ile yok edilemez. Halı böceğinden
          kurtulmak için profesyonel destek almak gerekir.
        </p>
        <p>
          Halı böceği isminden de anlaşılacağı üzere genellikle evlerde bulunan halılar içerisinde yaşarlar. Kumaş
          kemirmesi ile bilinen bu zararlının yüzeyi sert tüylerle kaplıdır ve kolaylıkla ölmezler. Hızlı çoğalırlar ve
          genelde halılara zarar verirler. Bu nedenle de korunması gereken haşere türlerindendir. Bu illetten
          kurtulmanın yolu ise halı böceği ilaçlama firması desteğinden yararlanmaktır. Sadece sıradan haşere ilaçları
          ile ilaçlama yapmak halı böceğine zarar vermeyecektir. Aksine halı ile temas eden diğer canlılar zarar
          görebilecektir. Bu nedenle de doğru bir halı böceği ilaçlama şirketi en akıllıca çözüm olacaktır.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Tartarcık Böceği -->
<div class="modal fade bd-example-modal-lg" id="tartarcik" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tartarcık Böceği</h5>
      </div>
      <div class="modal-body">
        <p>
          Tatarcık sineği oldukça küçük bir haşere türüdür. Tatarcık sineğinin vücudu kıllarla kaplıdır. Donuk sarı
          renkli olan tatarcık sineği 1,5-3 mm büyüklüğündedir. Loş alanlarda yaşarlar ve bu alanlarda ürerler. Tatarcık
          sineği haşeresi gıda ihtiyacını kan ile karşılar. Tatarcık sineği bu ihtiyacını hem insanlardan hem
          hayvanlardan karşılarlar.
        </p>
        <p>
          Yumurtlayarak çoğalan tatarcık sineği haşeresi uygun sıcaklık ve ortamda çok çabuk çoğalır. Yalnızca dişi
          tatarcık sineği insanları ısırır. Çoğu kez insanlar tatarcık sineği haşeresi tarafından ısırıldığının farkına
          varmaz. Tatarcık sineği haşeresinin ısırdığı alan kızarır ve kaşıntı oluşur.
        </p>
        <p>
          Tatarcık sineği haşeresi birçok hastalığın virüsünü taşır. Özellikle kan yoluyla bulaşan hastalıkların tümünü
          taşır.
        </p>
        <p>
          Tek hücreli ve asalaklar grubunda yer alan tatarcık sineği kan emerek beslenmesi nedeniyle birçok haşereden
          daha tehlikelidir. Bunun nedeni ise direkt kan ile temas kuruyor olmasıdır. Bu durumda nasıl bir hastalık
          yayıcısı olduğu hakkında yorum yapmaya gerek yok sanırım. Genelde kan emerler ve dere, nehir yada bataklık
          alanlara yumurta bırakan tatarcık sineği 20 civarındaki yumurtası oldukça küçük olacağından dolayı pek göz ile
          görülmeleri mümkün olamamaktadır. Buradan da anlaşılacağı üçere bu sinek oldukça hızlı üremektedir. Bu denli
          hızlı çoğalan bir haşere ile mücadele edilmesi isteniyorsa da kesinlikle tatarcık sineği ilaçlama firması
          desteği almak zorunludur.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Arı -->
<div class="modal fade bd-example-modal-lg" id="ari" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Arı</h5>
      </div>
      <div class="modal-body">
        <p>
          Arılar uçan haşere kategorisine giren haşerelerdir. Zar kanatlılar grubundadırlar. Arı böceğinin çok ince
          kanatları vardır. Bu haşerenin kanatlarının iç kısımlarında ince kılcal damarlar yer alır. Arı böceğini vücut
          yapısı çık yumuşaktır. Vücutları kıl tabakası ile kaplı olan arı haşeresi zehirli iğnesini kuyruk kısmında
          taşır. Arıların bu iğneleri oldukça zehirlidir. Arıların yön bulmalarını baş kısımlarındaki antenler sağlar.
          Tehlikeyi bu baş kısımlarındaki antenlerle algılar ve harekete geçerler. Arılar çok hızlı hareket eden
          haşerelerdir. Popilasyon halinde yaşayan arı haşereleri yuvalarına çok değer ve önem verirler.
        </p>
        <p>
          Yuvaları üzerinde tehlike hissederlerse toplu olarak taarruza geçerek saldırırlar. Arı haşeresinin soktuğu
          alan vücudumuzun çeşitli yerleri olabilir. Arı sokması sonucunda sokulan yer şişer ve kızarır. Çok ağrı
          oluşur. Bu nedenle arı sokmalarında doktora başvurulmalı ve alan arı popilasyonuna karşı ilaçlanmalıdır.
        </p>
        <p>
          Çünkü arı haşeresi toplu yaşamayı sevdiği için yerleştiği açık ya da kapalı alanda kısa sürede çoğalır. Arı
          ilaçlama bu bakımdan önemlidir. Arı ilaçlama da bireysel çözüm bize zarar verir. B u nedenle arı ilaçlama
          şirketlerinden destek yardım alınmalıdır. Arı ilaçlama firmasının bu alanda profesyonel olması oldukça önem
          arz eder.
        </p>
        <p>
          Arılar her ne kadar çalışkanlıkları ile bilinen böcekler grubunda yer alsalar da özellikle bazı türlerinin
          ciddi zararları da bulunabilmektedir. Türlerine göre ısırıkları veya sokmaları insanlarda alerjik
          reaksiyonlara yol açabilmektedir. Bazı insanlarda nefes kesilmesine varacak kasılmalar oluşabilirken bu denli
          bir etki gösterdiği kişilerde genellikle ölümcül sonuçlar doğabilmektedir. Bu sebeple de insanlar sıklıkla arı
          ilaçlama şirketi ihtiyacı ile karşılaşabilmektedir. Arılar genel olarak kendilerine bir tehdit unsuru olmaması
          durumunda insana zarar vermezler. Fakat bizler ne yazık ki bilinç dışı olarak da arılara tehdit olabiliyoruz.
          Bu sebeple periyodik bir arı ilaçlama işlemi yapmak arıların o bölgede kolonileşmesini engelleyecektir.
        </p>
        <p>
          Arılar koloniler halinde yaşarlar ve sayı olarak çok fazladır. Özellikle kraliçe arıyı korumak adına birlikte
          hareket ederek ciddi bir güç olabilirler. Böyle bir güç ile mücadele etmek için ise kesinlikle arı ilaçlama
          firmaları desteği almak gerekir. Özel kıyafetler ve yöntemlerle yapılacak olan ilaçlama ile arılardan tamamen
          kurtulmak mümkündür.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Çıyan -->
<div class="modal fade bd-example-modal-lg" id="ciyan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Çıyan</h5>
      </div>
      <div class="modal-body">
        <p>
          Çıyanlar. çıyanlar zehirli bir haşere olup omurgasız hayvanlar içinde incelenirler.Vücut yapısı olarak farklı
          bir yapıya sahiptirler,görünüş olarak kırk ayak ve solucana benzer fakat bunlardan ayrılan özellikleri
          vardır.Her boğumunda 2 çift ayak bulunur.Yeryüzünün her kıtasına yayılmış geniş bir yaşama alanına
          sahiptirlerçıyan bedenin üstünde bulunan bütün ayaklar zehirlidir.yaşadığı bölgenin özelliğine göre dış
          görünüşü değişir ve en fazla 30 cm e kadar büyürler genellikle çıyanlar sarı,kırmızı,siyah,mavi, ve
          kahverengindedir.Çıyan ısırmasının sunucu canlının vücudunda kızarıklık,şişme,kaşıntı ve şiddetli acı
          reaksiyonları gerçekleşir. Isırıldıktan sonra zehirin yayılmasını önlemek için ısırılmış bölge baglanarak
          oradaki kanın kalbe ulaşmaması sağlanmalı ve enn yakın sağlık kuruluşuna gidilmeli.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Yılan -->
<div class="modal fade bd-example-modal-lg" id="yilan" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Yılan</h5>
      </div>
      <div class="modal-body">
        <p>
          Dünyanın her yerinde yaşayabilen yılan canlısı oldukça tehlikelidir. Yılanların yüzde 99 u zehirlidir.
          Yılanların boyları ve yapıları çeşitlerine göre farklılık göstermektedir. Ancak yılanların biyolojik yapıları
          aynıdır. Sadece şekilleri farklılık gösterir. Yılanların uzun vücut yapısı vardır, vücutlarının sonlarında
          kuyrukları mevcuttur.
        </p>
        <p>
          Yılanlar sürünerek hareket ederler. Yılanlar vücutlarını kasıp öne savurarak hareketlerini gerçekleştirirler.
          Yılanların başları vücutlarıyla orantılı olarak gelişmiştir. Yılanların baş kısımlarında iki adet göz yer
          alır, ağız kısımlarında çatallı dilleri bulunur ve avını zehirlemek için kullandığı dişleri yer alır. Sert ve
          pullu bir deriye sahip olan yılan çeşitlerinin vücutlarında kıl bulunmaz. Yılan türlerinin uzunlukları
          farklılık gösterir. Kimi yılan türleri 12 metreye kadar uzunlukta olabilirler.
        </p>

        <p>
          Yılan İlaçlama, yılanlar gıda ihtiyaçlarını böcek ve farelerle sağlarlar. Avlarına sessizce yaklaşan yılanlar
          avın üzerine atlayıp dişleriyle zehirleyip öldürür. Gıda gereksinimlerini böcek ve farelere ek olarak daha
          büyük hayvanları (kuş, kurbağa, balık vb gibi…) da avlayarak karşılar. Yılanlar yıl içerisinde bir kez deri
          değişimi yaşarlar. Yılanların deri değiştirme işlemleri 1 ya da 2 hafta sürebilir.
        </p>
        <p>
          Yılanlar yumurtlayarak ya da doğum yaparak çoğalmalarını gerçekleştirirler. Yavru yılanlar kendi avlarını
          yakalayıp gıda gereksinimlerini karşılayabildiklerinde yuvadan ayrılıp çevreye yayılırlar.
        </p>
        <p>
          Yılanların neredeyse tüm türleri zehirlidir. Bu yüzden yılanla mücadelede ilaçlama şirketleri önem
          taşımaktadır. Yılan ilaçlama açık ve kapalı mekanlar için yapılmaktadır. Yılan ilaçlama da kullanılan ilaçlar
          oldukça önemlidir. Çünkü böcek ilaçlama ve fare ilaçlama için kullanılan ilaçlar yılan ilaçlama da kesinlikle
          kullanılamaz. Çünkü bu ilaçların yılan ilaçlama üzerinde hiçbir etkisi bulunmamaktadır. İlaçlama şirketi
          mutlaka yılan ilaçlama üzerinde etkili olan insektisitleri kullanmalı ve profesyonel bir uygulama yapmalıdır.
        </p>
        <p>
          Yılanlar bazen gıda gereksinimlerini karşılayabilmek ya da soğuk havalardan korunabilmek için yaşadığımız
          kapalı alanlara dahi girerler. Böyle bir durum ister açık alanda ister kapalı alanda görünsün mutlaka zaman
          kaybetmeden yılan ilaçlama şirketi ile iletişime geçilmelidir.
        </p>
        <p>
          Biz elmas ilaçlama şirketi olarak yılan ilaçlama konusunda uygun ilaçlarımız ve profesyonel ilaçlama
          ekiplerimiz ile kesintisiz olarak hizmetinizdeyiz.
        </p>
        <p>
          Yılan ilaçlama konusundan söz etmeden önce bu canlıdan biraz söz etmek sanırım daha iyi anlaşılabilir olmasını
          sağlayacaktır. Öncelikle yılanlar insanlar için en tehlikeli sürüngenler arasında yer almaktadır. Omurgalı bir
          canlı olmasının yanında besin bulma ve hissetme fonksiyonunu dilleri ile gerçekleştirir. Direkt müdahale
          olmadığında çok zararlı olmadıkları düşünülse de yine de uzak durmak gerekir. 10 santimden 10 metreye kadar
          ulaşan büyüklükte yılan türlerinin varlığı bilinmektedir. Toprak altında dolaşmaları nedeniyle tarım
          alanlarına da zarar verebilecekleridir ki bu nedenle yılan ilaçlaması yapmak gerekebilecektir. Çeneleri ile
          kilometrelerce uzaktaki bir titreşimi algılama yetileri olan yılanların % 99’unun farklı oranlarda zehri
          bulunmaktadır.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Kene -->
<div class="modal fade bd-example-modal-lg" id="kene" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Kene</h5>
      </div>
      <div class="modal-body">
        <p>
          Kene böceği kan emerek gıda gereksinimini karşılar. Kene böceğinin boyutu 5 mm olup koyu kızıl ya da
          kahverengi renktedirler. Yassı ve oval bir yapıya sahip olan kene haşeresi kan emerek olgunlaşır. Kene böceği
          gıda ihtiyacını aynı pire haşeresinde olduğu gibi kan ihtiyacını insanlardan ve hayvanlardan karşılar. Kene
          haşeresi dış alanlarda otlaklarda, ağaçlık alanlarda, hayvanların yaşadığı alanlarda görülürler. Kene haşeresi
          yaşadığımız mekanlara ya hayvanlar aracılığıyla ya da kenelerin bulunduğu alanlarda insanların yer alıp
          üzerlerinden gelmesiyle taşınır. Kene haşeresi yumurtlayarak çoğalım gerçekleştirir.
        </p>
        <p>
          Kene haşeresi yaşadığımız alanlarda kısa sürede üreyerek çoğalırlar. Kısa sürede yüzlerce kene haşeresi
          oluşur. Kene haşeresi hiç kan emmeden de 8 ay yaşayabilir. Kene haşeresinin ısırmasıyla kırım kongo kanamalı
          hastalığı oluşur. Kene haşeresinin neden olduğu bu hastalık yüzünden yüzlerce kişi yaşamını kaybetmiştir.
        </p>
        <p>
          Kene kan yoluyla bulaşan hastalıkların taşıyıcısı durumundadır. Ene ısırması durumunda zaman kaybetmeden
          doktora gidilmeli ve kenenin görüldüğü alan hemen profesyonelce ilaçlatılmalıdır.
        </p>
        <p>
          Son dönemlerde özellikle piknik tutkunlarının korkulu rüyası olan keneler ile mücadelenin mevsimi geldi
          sayılır. Havaların ısınması ile birlikte insanlar kendilerini açık alanlara atacaklar ve haftanın yorgunluğunu
          atma mücadelesi vereceklerdir. Bu aşamada kene ilaçlama yapmanın gerekliliği daha da bir artacaktır. Her
          bölgede görülen kenelerle ilgili olmasa da ülkemizde de sıklıkla kene sebepli ölüm haberleri duymaktayız. Bu
          nedenle de sıradan yöntemlerle değil kesinlikle kene ilaçlama şirketleri desteği alarak ilaçlama zorunluluğu
          vardır. Söz ettiğimiz üzere sonuçları ölüme varan problemlerle karşılaşmak istemeyiz elbette.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- SivriSinek -->
<div class="modal fade bd-example-modal-lg" id="sivriSinek" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sivrisinek</h5>
      </div>
      <div class="modal-body">
        <p>
          Sivrisinek uçan bir haşere türüdür. Sivrisinek haşeresinin oldukça fazla türü vardır. Her türlü mekan ve
          ortamda üreme özelliğine sahip olan sivrisinekler oldukça çabuk üreme özelliğine sahiptirler. Sivrisinek
          haşeresinin sadece pis ve kirli ortamlarda ürediği düşünülmemelidir. Çünkü çok temiz alan ve ortamlarda da
          sivrisinek haşeresi üreyebilir.
        </p>
        <p>
          Yumurtlayarak çoğalan sivrisinekler temel iki gruba ayrılırlar. Küleks sivrisinek haşeresi ve anofel
          sivrisinek haşeresi. Sivrisinekler sıcak alanları severler. Genellikle yaz aylarında ortaya çıkarlar. Ancak
          kış döneminde de yaşadığımız mekanların sıcak olması nedeniyle de varlıklarını sürdürebilirler.
        </p>
        <p>
          Sivrisinek haşeresinin sadece dişi olanı kan emme özelliğine sahiptirler. Dişi sivrisinek haşeresi yumurtlamak
          için kana ihtiyaç duyar. Sivrisinekler kan yoluyla bulaşan hastalıkları insanlara bulaştırırlar. Bu nedenle
          bir çok hastalığın virüsünü taşırlar. Sivrisinek ilaçlaması oldukça önemlidir.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Pire -->
<div class="modal fade bd-example-modal-lg" id="pire" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Pire</h5>
      </div>
      <div class="modal-body">
        <p>
          Pire böceği siyah ya da kızıl renktedir. Pire haşeresi oldukça küçüktür . Genellikle pirelerin boyları 2 ya da
          4 mm arasında farklılık gösterir. Pire böceği kan emerek beslenir. Pireler bu kan ihtiyaçlarını insanlardan ve
          hayvanlardan karşılarlar. Mekanımızda gördüğümüz 1 adet pire böceği kısa sürede üreme yaparak yaşadığımız
          mekanları sarabilir. Yaşadığımız mekanlara pire böceği beslediğimiz çeşitli hayvanlar aracılığıyla girebilir.
          Pire böceği kanatlıdır ve yaklaşık olarak 30 cm kadar sıçrayabilir.
        </p>
        <p>
          Pire böceğinin 6 adet ayak yapısı mevcuttur. Kıllı bir vücuda sahip olan pire böceği çok çabuk çoğalma
          özelliğine sahiptir. Pire böceği yumurtlayarak çoğalırlar. Haftada yaklaşık 2000 adet yumurta yapabilen pire
          böceği bu yumurtalarını oldukça gizli alanlara bırakırlar. Pire böceği sıcak alanlarda daha çok çoğalır
        </p>
        <p>
          Bu nedenle daha çok yaz aylarında görülebilen bir haşere türüdür pire. Pire böceği vücudumuza kan emmek için
          yapışır ve doyduğu zaman bırakıp gider. Pire böceğinin ısırdığı yerde kızarıklıklar ve kaşıntı oluşur. Pire
          böceği kan yoluyla bulaşan tüm haştalıkların vürüsünü taşımaktadır.
        </p>
        <p>
          Her mevsim sıcak havaları seven haşerelerdendir pireler. O nedenle de sürekli mücadele etmek gerekir. Son
          zamanlarda haşere ısırmalarından kaynaklanan sağlık sorunlarını sıklıkla duymaktayız. Hatta kara haberlerin
          alındığı da biliniyor. Pireler de özellikle kan ile beslenen zararlılardan olunca durumun vahameti daha da bir
          ortaya çıkıyor. Bu sorunun tek yolu ise pire ilaçlama şirketi olarak çalışan işletmelerden yardım almaktır. Ne
          yazıktır ki insanlar bu bilinci tam olarak oturtamadılar. Kendi çabalarıyla pirelerden arınabileceğini düşünen
          insanlar her yerden kolaylıkla temin edilebilen tarımsal ilaçlarla işlem yapmaktadırlar. Bu durum kesinlikle
          pirenin varlığından daha zararlı bir yöntemdir. Bunun nedenlerinden kısaca söz etmek gerekirse:
        </p>
        <p>
          Öncelikle pirelerin üç binden fazla türünün olduğunu ve her birinin yok edilmesi için farklı yöntemler
          uygulanabileceğini unutmamak gerekir. Bu ayrımı ise en doğru şekilde pire ilaçlama firması çalışanları bilir.
          Çünkü bu konuda ciddi eğitimlerden almış tecrübeli kişilerdir. Pire ilaçlama işlemi sadece bölgede yapılmaz.
          Daha çok evcil hayvanların üzerlerinde görülüyor olması nedeniyle ilaçlama işlemi o canlı üzerinde de
          yapılması gerekecektir. Sıradan uygulamalar ile o canlıya zarar verme riski de ortaya çıkacaktır. Ayrıca
          ilaçların temas ettiği bölgelerdeki ürünlerin kullanılması ya da gıdaların tüketilmesi de kalıcı hasarlara yol
          açabilecektir.
        </p>
        <p>
          Pire ilaçlama uygulaması sadece görüldükleri alanda yapılmamalıdır. Pireler hem çok güç yok edilen
          haşerelerdir hem de çok hızlı ürerler. Öyleyse yapılacak olan ilaçlama işlemi bu doğrultuda yapılması
          gerekecektir. Pire ilaçlama servisleri yapacakları ilaçlama işleminde muhtemel pire konuşlanma bölgelerini de
          etkileyeceklerdir. Tamamen yasal yükümlülükleri yerine getirmiş olan pire ilaçlama şirketleri bu konuda daha
          fazla tercih edilmelidir.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Uyuz Böceği -->
<div class="modal fade bd-example-modal-lg" id="uyuzBocegi" tabindex="-1" role="dialog"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Uyuz Böceği</h5>
      </div>
      <div class="modal-body">
        <p>
          Uyuz böceği bireylerin deri içlerine yerleşip çoğalan bir haşeredir. Uyuz böceği haşeresi insan vücudunda
          tüneller açarak yumurtalarını bırakırlar. Uyuz böceği 0,3 eninde ve 0,4 boyunda bir haşere türüdür. Uyuz
          böceği bir parazit türüdür. Uyuz böceği haşeresi kirli sarı rengindedir. Bu böcek türü kalın, kısa ve
          kıllıdır. Uyuz böceği haşeresi yumurtladıktan 14 gün sonra uyuz hastalığı vücutta yayılmaya başlar. Hastalık
          çok kısa sürede yayılır.
        </p>
        <p>
          Uyuz böceği haşeresi sadece insan vücudunda yer almaz. Kedi veya köpek vücutlarına da yerleşir ve çoğalır.
          Uyuz böceği vücutta aşırı kaşıntıya neden olur. Uyuz böceği uyuz hastalığına neden olur. Uyuz böceği bir
          bireyden diğerine çok çabuk geçer. Özellikle eşyalar yoluyla. Bu nedenle de uyuz şikayetlerinde bireyin sadece
          kendini dezenfekte etmeleri kesinlikle yeterli değildir. Çünkü her ne kadar kendimizi dezenfekte edersek
          edelim yaşadığımız ortamdan yine hastalık bulaşacaktır. Bu nedenle uyuz böceği haşeresi ile mücadelede tüm
          eşyalarımızı ilaçlatmalı ve dezenfekte etmeliyiz. Bunu ancak profesyonel ilaçlama desteği alarak
          sağlayabiliriz.
        </p>
        <p>
          Halk arasında ve Türkçe literatürde deri böceği adı verilen haşere aracılığı ile insanlara ya da hayvanlara
          bulaşan bir hastalıktır uyuz. Genel olarak kaşıntı olarak göze batsa da vücutta yaralara varan özellikle kedi
          ve köpek gibi hayvanlarda ölümle dahi sonuçlanabilir. Bu sebeple de periyodik olarak uyuz ilaçlama işlemi
          yapmak çok önemsenmelidir. Uyuz böceği olarak da nitelendirilen bu tüylü zararlı ile mücadele etmek oldukça
          güçtür. Sıradan ilaçlama yöntemleri ile kurtuluş imkansıza yakındır. Sadece bu neden dahi uyuz ilaçlama
          servisleri desteği almanın gerekliliğini ortaya koymaktadır.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Bit -->
<div class="modal fade bd-example-modal-lg" id="bit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Bit</h5>
      </div>
      <div class="modal-body">
        <p>
          Bit haşeresi küçüktür ancak gözle görülebilir. Bit haşeresi büyüklüğü 2 ile 4 mm dir. Bit haşeresi sarı
          renklidir ancak gri renkte olanları da vardır. Bitler yumurtlayarak çoğalırlar. Bit haşeresinin yumurtasına
          sirke denir. Bitler sirkelerini yani yumurtalarını saç diplerine ya da çamaşırlara bırakırlar. Bit haşeresi
          okul gibi toplu alanlarda daha çabuk yayılırlar.
        </p>
        <p>
          İnsan biti gibi hayvan biti de mevcuttur. Bit haşeresi kan emerek beslenir. Isırdıkları alan kaşınır ve
          kızarıklık oluşur. Bit haşeresi de kan ile bulaşan hastalıkları bulaştırabilir. Bit haşeresinden kurtulmak
          için sadece kendimizi dezenfekte etmemiz yeterli olmaz.
        </p>
        <p>
          Mutlaka yaşadığımız mekanı ve eşyalarımızı, giysilerimizi de dezenfekte etmeliyiz. Bu durumda ilaçlama oldukça
          önemlidir. Mutlaka profesyonel destek almamız gereklidir.
        </p>
        <p>
          Çocuklar başta olmak üzere zaman zaman sıklıkla karşılaşılan sorunlardan birisi olarak karşımıza çıkan bit
          illetinden ne yazık ki kimyasal kullanmadan kurtuluş çok mümkün değildir. Genelde saç diplerinde veya evcil
          hayvanların üzerinde görülen bit haşeresine bir parazit olduğunu söylemek de hatalı bir yaklaşım değildir.
          Peki, neden parazit diyoruz? Çünkü bitler insan kanı ile direkt temas kuran bir canlıdır. Yani kan emerler.
          Öyleyse her kan emen canlıya parazit demek de normal görülmeli. Böyle bir sorundan kurtulmak için de bit
          ilaçlama servisi olarak çalışan firmalardan destek almak gerekir. Aksi durumda çok ciddi sorunlarla
          karşılaşmak durumu ortaya çıkabilmektedir. Öyle bilinen kaşıntı durumu ile geçiştirmek yapılabilecek en ciddi
          hatalardan birisi olarak karşımıza çıkmaktadır. Tabi ki doğru bir bit ilaçlama firması için ciddi bir
          araştırma da gerekecektir.
        </p>
      </div>
    </div>
  </div>
</div>